<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Photorama.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B0284852A03D74200EE9DB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B02849B2A03D74200EE9DB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B0284A52A03D74200EE9DB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
